<!-- <section class="container">
  <div class="container__day-header">{{ dateOfEvent | date: "EEE" }}</div>
  <div class="container__day-events">TEST</div>
</section> -->
<mat-card class="card">
  <mat-card-header class="card__header">
    <h3>Johnjix Bautista Reyes</h3>
    <h4>Event Name</h4>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, consectetur!
    Ipsa, quos aliquid. Praesentium, libero! Tenetur, sed! Est optio nam
    quibusdam suscipit culpa? Inventore voluptate, laboriosam a excepturi sit
    deserunt!
  </mat-card-content>
</mat-card>
